body{
	font-family: 'Nunito Sans', sans-serif;
}

a {
    color: #f23a2e;
    text-decoration: none;
}

a:hover{
	color:#D9170B;
	text-decoration: none;
}

body p{
	font-size: 14px;
}
	
.topbar .nav-link{
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	color:#000;
}

.topbar .fa-phone{
	transform:rotate(90deg);
}

.navbar-brand{
	font-size:32px;
	color:#000;
	font-weight:200;
}

.navbar-nav .nav-item{
	margin-left:30px;
}

.slide1{
	background:url("../image/hero_bg_1.jpg");
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}

.slide2{
	background:url("../image/../image/hero_bg_2.jpg");
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}

.btn{
	border-radius:0;
}

.slider-caption , .slider-caption2{
	background:rgba(0,0,0,0.35);
	text-align:center;
	padding:120px 0;
}

.slider-caption h1{
	max-width:650px;
	color:#fff;
	margin:0 auto 30px;
	font-weight:normal;
	font-weight: 300;
	font-size:80px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}

.slider-caption2 .sub-text {
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 4px;
	left: 0;
}

.slider-caption2 h1{
	max-width:650px;
	color:#fff;
	font-weight:normal;
	font-weight: 300;
	font-size:80px;
	line-height:1.2;
	text-transform:uppercase;
	text-shadow:1px 1px 1px rgba(0,0,0,0.7);
}

.slider-caption , .slider-caption2 h1 span{
	font-weight:900;
}

.slider-caption .btn-danger{
	color: #fff;
    background-color: #f23a2e;
    border-color: #f23a2e;
	padding:16px 48px;
}

.slider-caption .btn-danger:hover{
	background-color: #eb1c0f;
    border-color: #df1b0e;
	box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
}

.slider-caption .btn-outline-light{
	color: #fff;
    border-color: #fff;
	padding:16px 48px;
}

.slider-caption .btn-outline-light:hover{
	color:#000;
}

.slider-caption span{
	font-weight: bold;
}

#slider .carousel-control-prev{
	top:50%;
	bottom:auto;
	left:15px;
	background:rgba(0,0,0,0.50);
	width:50px;
	height:50px;
	opacity:1;
}

#slider .carousel-control-next{
	top:50%;
	bottom:auto;
	right:15px;
	background:rgba(0,0,0,0.50);
	width:50px;
	height:50px;
	opacity:1;
}

#slider .carousel-control-next:hover{
	background:rgba(0,0,0,1);
}

.number i{
	font-size: 60px;
}

.site-section{
	padding-bottom: 100.8px;
	padding-top: 100.8px;
}

.bg-image{
	background-size: cover;
    overflow: hidden;
    background-position: center center;
}


.line-height-sm {
    line-height: 1.3;
}

.site-block-check li:before {
    position: absolute;
    color: #28a745;
    left: 0;
    top: -4.8px;
    font-family: 'icomoon';
    font-size: 14px;
    content: "";
}

.site-block-check {
    padding: 0;
    margin: 0 0 30px 0;
}

.line-height-xs {
    line-height: 1;
}

.footer {
    padding: 58px 0;
}

.footer .heading {
    font-size: 20px;
}

.footer a {
    color: #000;
}




.people .image {
    height: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .8s all ease;
}

.people {
    border-radius: 4px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.service span{
	font-size: 55px;
}

.card {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.card, .card .text {
    border-radius: 4px;
    border-top: none !important;
}

.card .date {
    color: #a6a6a6;
    font-weight: normal;
    letter-spacing: .1em;
}

.news ul, .news ul li {
    padding: 0;
    margin: 0;
}

.news ul li {
    display: inline-block;
    margin-bottom: 4px;
}

.news ul li a, .news ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.news ul li.active span{
	background: #f23a2e;
	color: #FFFFFF;
}

.services .row-items {
    height: calc(50% - 15px);
    margin-bottom: 30px;
}

.service .feature.active {
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.service .feature {
    height: 100%;
}

.service .row-items.last {
    height: calc(50% - 15px);
    margin-bottom: 0;
}


.half-sm:hover .text{
    background: #f23a2e !important;
    color: #fff;
}

.half-sm:hover a{
    background: #f23a2e !important;
    color: #fff;
}

.testimonials img{
	width:70px;
	border-radius:50%;
	border:5px solid #fff;
	box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
	margin-right:50px;
}

.testimonials .media-body{
	padding:20px;
	box-shadow:0 0 20px 5px rgba(0,0,0,0.10);
	border-radius:4px;
	position:relative;
}

.testimonials .media-body:before{
	content:"";
	width:0;
	height:0;
	border:10px solid;
	border-color:#fff #fff transparent transparent;
	position:absolute;
	top:25px;
	left:-20px;
}

.img{
	overflow: hidden;
	transition:1s all;
}

.scale:hover{
	transform: scale(1.2);
}











@media(max-width:768px){
	
	.navbar-nav .nav-item{
		margin-left:0px;
	}
	
}

@media (min-width: 768px){
.site-section {
    padding: 48px 0;
}

}


@media (max-width: 767.98px){
.bg-sm-height {
    height: 300px;
}
}

@media (min-width: 992px){
.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
}











